@model Recordis

<div class="accordion" id="accordion-1">
    <div class="head">
        <h5>comments (@Model.Comments.Count)</h5>
        @* <i class="fa fa-angle-down arrow" /> funny styling animation*@
        <i class="fa fa-angle-down arrow"></i>

    </div>

    <div class="content collapse">
        <script>
            const id = "@Model.RecordisId"; //passing razor var into js , notice the QUOTES
            $(document).ready(function () {
            
                function populatePage(data) {
                    $.each(data, function (key, value) {
                        $("#xxx").html(value.content)
                    })
                }
                
                const url = "/track/comments/" + id;
                $.get(url, data => {  //ajax call 
                    console.log(data)
                    populatePage(data);
                })
            });
        </script>

        <div id="Commentlist" class="pretty-box">
            @{
                var x = @Model.RecordisId;
                Comment comment = new Comment();
            }
            @foreach (var com in @Model.Comments)
            {
                <div class="comment-box">
                    <em>@com.CreatedAt</em>
                    <div>
                        @com.Title
                        @com.Content
                        <a style="margin-left:20px" href="/tool/delete/@x/@com.CommentId/">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </div>
            }

            @section Scripts
            {
                <script>
                    $("#clicklink").click(function () {
                        $.ajax({
                            type: "get",
                            url: "/CommentList?handler=AllComment",
                            success: function (response) {
                                $("#commentlist").html(response);
                            }
                        });
                    });
                </script>
            }

        </div>
        <button class="btn btn-outline-info" onclick="displayJS()">add new comment</button>
    </div>
    <div id="myDIV" style="display:none">
        <partial name="FormComment" model="@comment"/>
    </div>
</div>