@model List<Recordis>
@* <button onClick="test()">xxx</button> *@
<a class="text-decoration-none" id="scaleContainer" href="/new-track"><i class="fa fa-plus" style="color:white"></i></a>
<div id="sortable_table_wrapper">
    <!-- for list.js SEARCH to work encapsulate table into div with appropriate main id ("stw") -->
    <table class="table" style="color:white">
        <thead>
            <tr>
                <th class="bg-secondary sort" data-sort="nums">#</th>
                <th class="bg-secondary date sort" data-sort="title">TITLE</th>
                <th class="bg-secondary date sort" data-sort="artist">ARTIST</th>
                <th class="bg-secondary date sort" data-sort="filesize">FILESIZE</th>
                <th class="bg-secondary date sort" data-sort="tools">TOOLS</th>
                <th class="bg-secondary date sort" data-sort="comments">COMMENTS</th>
                <th class="bg-secondary date">VERSIONS</th>
                <th class="bg-secondary date sort" data-sort="postdate">POST DATE</th>
                <th class="bg-secondary date">ACTIONS</th>
            </tr>
        </thead>

        <tbody class="list">
            @{
                var sr = "";
                int i = 1;
                foreach (Recordis t in @Model)
                {
                    if (t.MediaFilePath != null)
                    {
                        var cut = t.MediaFilePath.Split("wwwroot");
                        sr = cut[1];
                    }
                    <tr>
                        <th scope="row">@i
                <a href="/track/play/@t.RecordisId"><i class="fas fa-file-export" aria-hidden="true"></i></a>

                            <audio controls>
                                <source src="@sr" type='audio/mpeg'>
                                Your browser does not support the audio element.
                            </audio>
                        </th>
                        @{
                            i++;
                        }
                        <td>
                            <a class="text-decoration-none text-white border border-secondary rounded title" href="/track/@t.RecordisId">@t.title</a>
                        </td>
                        <td class="font-fancy artist">@t.artist</td>
                        <td class="filesize" style="font-size: 0.8 rem;">@t.length</td>
                        <td class="tools">
                            @foreach (var g in t.Gears)
                            {
                                <!-- @*<Either text or "@" toforce html output"*@ -->
                                <a href=/gear/@g.GearId/info/ class="
                            border border-info rounded link-warning text-decoration-none
                            ">@g.Gear.title</a>
                                @:&nbsp;
                            }
                        </td>
                        <td class="comments">
                            <a>@t.Comments.Count</a>
                        </td>
                        <td>
                            @if (t.Aversions != null)
                            {
                                @t.Aversions.Count
                            }
                            else
                            {
                                <hr />
                            }
                        </td>
                        <td class="date">@t.CreatedAt</td>
                        <td>
                            <a class="btn btn-warning text-decoration-none" href="@t.RecordisId/comment">
                                <i style="color:white" class="fa fa-comment" aria-hidden="true"></i></a>
                            <a href="/edit/track/@t.RecordisId" class="btn btn-success text-decoration-none"><i
                                    style="color: white" class="fa fa-edit"></i></a>
                            <partial name="_delete" model="@t" />
                        </td>
                    </tr>
                }
            }

        </tbody>

    </table>
    <input class="search" style="margin: 0 auto;display:block;border-radius:5px;text-align:center;margin-bottom:10px"
        placeholder="Filter by keyword">

</div>
<!-- <a href="/new-track">Add a Track</a> -->
<script>
    var options = {
        valueNames: ['title', 'test', 'artist', 'filesize', 'tools', 'comments']
        // get id named correctly , th - add "data-sort" attrib and class name(as in valNames) also matching class for td
    };
    var sortable_table_wrapper = new List('sortable_table_wrapper', options);
    sortable_table_wrapper.sort("title", {
        order: "title"
    });
</script>


@section Scripts {
    <script src="~/js/site.js"></script>
    <script src="~/js/list.js"></script>
}