@model Recordis
<div>
    <table class="table">
        <thead style="color:white">
        <tr>
            <th>
                @Model.title
                <span class="anno">
                    by&nbsp;
                </span><span class="invert"> @Model.artist</span>
            </th>
            <th>tools</th>
            <!-- <th>
                <partial name="_selector" model="@Model" />
            </th> -->
        </tr>
        </thead>
        <tbody>
        <tr class="background-secondary">
            <th scope="row">
                @if (Model.MediaFilePath != null)
                {
                    var sr = Model.MediaFilePath.Split("wwwroot");
                    <p class="date">@Model.MediaFilePath @Model.length</p>
                    <audio controls>
                        <source src="@sr[1]" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                }
                else
                {
                    <p>no path found</p>
                }
            </th>
            <td>
                @foreach (var g in Model.Gears)
                {
                    <a link-warning href="/gear/info/@g.GearId"
                       class="border border-info text-warning rounded text-decoration-none">
                        @g.Gear.title
                    </a>
                    <a class="text-white rounded text-decoration-none"
                       href="/delete/@Model.RecordisId/@g.ConnectId">
                        <i class="fa fa-window-close"></i>
                    </a>
                }
            </td>
        </tr>
        </tbody>
    </table>
    <div class="extra-info">
        <p>@Model.desc</p>
        <hr/>
        <p>Date Info</p>
        <p>
            <partial name="_selector" model="@Model"/>
        </p>

    </div>

    <div>
        <a class="btn btn-warning text-decoration-none" href="/@Model.RecordisId/comment">
            <i style="color:white" class="fa fa-comment" aria-hidden="true"></i>
        </a>

        <a class="btn btn-success text-decoration-none" href="/edit/track/@Model.RecordisId">
            <i style="color: white" class="fa fa-edit"></i>
        </a>

        <a class="btn btn-success text-decoration-none" href="/edit/track/add-version/@Model.RecordisId/">
            Add Version
        </a>

        <partial name="_delete" model="@Model"/>
    </div>

    <partial name="_accordionComments" model="@Model"/>

    <div class=accordion id="accordion-1">
        <div class="head">
            <h5>versions (@Model.Aversions.Count)</h5>
            <i class="fa fa-angle-down arrow"></i>
        </div>
        <div class="content">
            @if (Model.Aversions.Count > 0)
            {
                foreach (var v in Model.Aversions)
                {
                    if (v.MediaFilePath != null)
                    {
                        var trimPath = v.MediaFilePath.Split("wwwroot");
                        <p>@trimPath[1] @Model.length</p>
                        <div class="vers">
                            <div>
                                @v.Title
                                @v.Length
                            </div>
                            <div>
                                <audio controls>
                                    <source src="@trimPath[1]" type='audio/mpeg'>
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                            <a style="color:aliceblue" href="/version/delete/@Model.RecordisId/@v.AversionId">
                                <i
                                    class="fa fa-close">
                                </i>
                            </a>
                        </div>
                    }
                }
            }
            else
            {
                <p>no versions added/exist</p>
            }
        </div>
    </div>
    @* <div>
    <a href="/convert/@Model.fileName">convert</a> //to implement
</div> *@
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}